@use 'variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: vars.$font-base;
  font-size: 13px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: vars.$grey-200;
}

.manrope-500 {
  font-family: vars.$font-base;
  font-weight: vars.$weight-500;
  font-style: normal;
}
.manrope-700 {
  font-family: vars.$font-base;
  font-weight: vars.$weight-700;
  font-style: normal;
}

.lh-small {
  line-height: lh(small);
}
.lh-medium {
  line-height: lh(medium);
}
.lh-large {
  line-height: lh(large);
}

.ls-small {
  letter-spacing: ls(small);
}
.ls-medium {
  letter-spacing: ls(medium);
}
.ls-large {
  letter-spacing: ls(large);
}
