@use 'variables' as vars;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: vars.$radius-10;
  overflow: visible;
  box-shadow: 0 40px 40px -10px rgba(0, 0, 0, 0.25);
  background-color: vars.$white;
  max-width: 730px;
  margin: 0 vars.spacing(3);
  position: relative;
}

.image {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: vars.$radius-10 vars.$radius-10 0 0;
}

.image img {
  width: 100%;
  display: block;
}

.wrapper__details {
  padding: 33px;
}
.title {
  color: vars.$grey-900;
  font-size: vars.$size-20;
  margin-bottom: vars.spacing(3);
}

.text {
  color: vars.$grey-500;
  line-height: 1.4;
  //   margin-bottom: vars.spacing(6);
}

.details__about {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  height: 76px;
}

.details__about img {
  width: vars.spacing(5);
  height: vars.spacing(5);
  border-radius: 50%;
  margin-top: 53px;
}

.user__info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 53px;
}
.author {
  color: vars.$grey-900;
}
.date {
  color: vars.$grey-400;
}

.btn {
  width: vars.spacing(4);
  height: vars.spacing(4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  bottom: 24px;
  right: 30px;
  z-index: 10;
}

.btn img {
  width: 15px;
  height: 13px;
}

.article__footer {
  display: none;
  justify-content: start;
  align-items: center;
  background-color: vars.$grey-900;
  width: 100%;
  height: 76px;
  padding: 24px 24px;
  gap: 20px;
  border-radius: 0 0 vars.$radius-10 vars.$radius-10;
}
.article__footer.active {
  display: flex;
}
.article__footer p {
  color: vars.$grey-400;
}
.social__links img {
  padding-right: 10px;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    margin: 0 80px;
    height: 346px;
  }
  .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: vars.$radius-10 0 0 vars.$radius-10;
  }
  .image img {
    height: 100%;
    width: 120%;
  }

  .btn {
    bottom: 55px;
  }
  .article__footer {
    position: absolute;
    top: 46%;
    right: -13%;
    width: 248px;
    height: 67px;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .article__footer.active {
    display: flex;
  }
  .article__footer::after {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: inherit;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 10;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    max-height: 280px;
  }
  .btn {
    bottom: 20px;
  }
  .article__footer {
    right: -11%;
  }
}
