@use 'variables' as vars;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: vars.$radius-10;
  overflow: hidden;
  box-shadow: 0 40px 40px -10px rgba(0, 0, 0, 0.25);
  background-color: vars.$white;
  max-width: 730px;
  margin: 0 vars.spacing(3);
}

.image {
  max-width: 100%;
  height: auto;
}

.image img {
  width: 100%;
  display: block;
}

.wrapper__details {
  padding: 33px;
}
.title {
  color: vars.$grey-900;
  font-size: vars.$size-20;
  margin-bottom: vars.spacing(3);
}

.text {
  color: vars.$grey-500;
  line-height: 1.4;
  margin-bottom: vars.spacing(6);
}

.details__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details__about img {
  width: vars.spacing(5);
  height: vars.spacing(5);
  border-radius: 50%;
}

.user__info {
  display: flex;
  flex-direction: column;
  margin-left: -40px;
}
.author {
  color: vars.$grey-900;
}
.date {
  color: vars.$grey-400;
}

.btn {
  width: vars.spacing(4);
  height: vars.spacing(4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.btn img {
  width: 15px;
  height: 13px;
}

.article__footer {
  display: flex;
  background-color: vars.$grey-900;
  width: 100%;
  padding: 20px 20px;
}
.article__footer p {
  color: vars.$grey-400;
}
@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;

    margin: 0 80px; // zmienic na spacing w rem
    height: 346px;
  }
  .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image img {
    height: 100%;
    width: 120%;
  }
  .user__info {
    margin-left: -104px; // do zmiany na vars
  }
}

@media (min-width: 1024px) {
  .wrapper {
    max-height: 280px;
  }
  .user__info {
    margin-left: -160px; // do zmiany na vars
  }
}
